ALPHA-2/Control
ALPHA-2/DataSetROOT
ALPHA-2/DataSet
PlotMLEfit/MLE_TOY.aux
PlotMLEfit/MLE_TOY.log
PlotMLEfit/MLE_TOY.out
PlotMLEfit/MLE_TOY.snm
PlotMLEfit/MLE_TOY.toc
PlotMLEfit/MLE_TOY.nav
PlotMLEfit/elog_version.nav
PlotMLEfit/elog_version.toc
PlotMLEfit/elog_version.snm
PlotMLEfit/elog_version.log
PlotMLEfit/elog_version.aux
PlotMLEfit/elog_version.out


s41586-018-0435-1.pdf
s41586-020-2006-5.pdf
s41586-023-06527-1.pdf

