Spectroscopy/Control
Spectroscopy/Dataset
2021_nature_laser_cooling.pdf
2010_nature_trapped_Hbar.pdf
2012_nature_first_spectroscopy.pdf
2018_alpha_CERN_Courier.pdf
2020_nature_hyperfine.pdf
REPORT-ALPHA-status report.pdf
s41586-018-0435-1.pdf
s41586-020-2006-5.pdf
s41586-023-06527-1.pdf
DataSetROOT
